body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .bg-gold {
  
  background: -webkit-linear-gradient(110deg, #8b8b8b 60%, #000000 60%);
  background: -o-linear-gradient(110deg, #8b8b8b 60%, #000000 60%);
  background: -moz-linear-gradient(110deg, #8b8b8b 60%, #000000 60%);
  background: linear-gradient(110deg, #8b8b8b 60%, #d1bebe 60%);
 
} */



/* .bg-gold {
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
} */
